svg.sim {
    border: 1px solid black;
}

.mirror {
    stroke: gray;
    stroke-width: 1;
}

.solid.mirror{
    fill: lightgray;
    fill-opacity: 0.4;
}

.hollow {
    fill: none;
}

.water {
    stroke: rgb(155, 192, 241);
    stroke-width: 1;
}

.solid.water {
    fill: rgb(231, 242, 252);
    fill-opacity: 0.4;
}

.glass{
    stroke: rgb(216, 216, 216);
    stroke-width: 1;
}

.solid.glass {
    fill: rgb(237, 237, 238);
    fill-opacity: 0.4;
}

.slider {
    stroke: rgb(76, 76, 126);
    stroke-width: 3px;
    stroke-linecap: round;
}

.slider-handle {
    fill: rgb(131, 161, 226) !important;
    stroke: rgb(76, 76, 126) !important;
}

.thandle {
    fill-opacity: 0.4 !important;
}

.ray {
    fill: none;
    stroke: #e74c3c;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* .ray:hover {
    stroke-width: 2;
    stroke: #c0392b;
} */

.handle {
    fill: #bdc3c7;
    /* stroke-opacity: 0; */
    /* fill-opacity: 0.6; */
    /* stroke-width: 0px; */
    stroke: black;
    stroke-opacity: 1;
    stroke-width: 1px;
    transition: stroke-width 0.3s;
}

.handle:hover {

    stroke-width: 2px;
    transition: stroke-width 0.3s;
}

.handle:active {
    /* fill-opacity: 1; */
    stroke-width: 2px;
    transition: stroke-width 0.3s;
}

.arc {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

blockquote{
    background-color: rgb(235, 235, 235);
    padding: 10px;
}

blockquote > h6 {
    text-align: center;
}