svg.sim {
    /* border: 1px solid black; */
    /* width: 70%; */
    touch-action: none;
    -ms-touch-action: none;
    background-color:rgb(255, 255, 255);
}

svg.sim, .sim-container > .table {
    width:100%;
    max-width:400px;
}


.border {
    stroke:black;
    stroke-width: 1;
    fill: none;
}

div.row {
    /* padding-top: 5em; */
    padding-top:1em; 
    padding-bottom: 1em;
}

p:first-child {
    padding-top: 3em;
}

.single-ray:hover > .ray{
    stroke-width: 2;
    stroke: red;
    /* stroke-opacity: 1 !important; */
}

.explanation > p:not(:first-child) {
    text-indent: 3em;
}

sup {
    text-indent: 0;
}

sup::after{
    height: 20px;
}

svg.sim.color {
    background-color:rgb(0,0,0);
}

.mirror {
    stroke: gray;
    stroke-width: 0.5;
    stroke-linecap: round;
}

.mirror.thick {
    stroke-width: 1.5;
}

.solid.mirror {
    fill: lightgray;
    fill-opacity: 0.4;
}

.hollow {
    fill: none;
}

.darkglass {
    stroke: rgb(199, 199, 199);
    fill: rgb(220,220,220);
    fill-opacity: 0.4;
    stroke-width: 0.5;
}

.water {
    stroke: rgb(155, 192, 241);
    stroke-width: 0.5;
}

.solid.water {
    fill: rgb(231, 242, 252);
    fill-opacity: 0.4;
}

.glass {
    stroke: rgb(216, 216, 216);
    stroke-width: 0.5;
}

.solid.glass {
    fill: rgb(237, 237, 238);
    fill-opacity: 0.4;
}

.slider {
    stroke: rgb(76, 76, 126);
    stroke-width: 3px;
    stroke-linecap: round;
}

.slider-handle {
    fill: rgb(131, 161, 226) !important;
    fill-opacity: 1 !important;
    stroke: rgb(76, 76, 126) !important;
}

.bezier-line {
    stroke: rgb(131, 161, 226);
    stroke-linecap: round;
}

.thandle {
    fill-opacity: 0.4 !important;
}

.blue {
    stroke: rgb(77, 178, 236) !important;
}

.ray {
    fill: none;
    stroke: #e74c3c;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    mix-blend-mode: lighten;
}

.ray-group {
    mix-blend-mode: darken;
    isolation: isolate;
}

/* .ray:hover {
    stroke-width: 2;
    stroke: #c0392b;
} */

.handle {
    fill: #bdc3c7;
    stroke: black;
    fill-opacity: 0.6;
    stroke-opacity: 1;
    stroke-width: 0.5px;
    transition: stroke-width 0.3s;
}

.handle:hover {
    stroke-width: 2px;
    transition: stroke-width 0.3s;
}

/* .handle:active {
    fill-opacity: 0.1 !important;
    stroke-width: 2px;
    transition: stroke-width 0.3s;
} */

.arc {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

/* blockquote {
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border: 1px solid black;
} */

/* blockquote>h6 {
    text-align: center;
} */

/* .container > div:not(:first-child) {
    background-color: rgba(238, 238, 238, 0.4);
    padding-left: 1em;
    border: 1px solid black;
    margin-top: 3em;
} */

.section > .columns {
    margin-top: 2em;
}

.navbar-brand > .title {
    line-height: 1.5;
    padding-right: 0.4em;
    padding-left: 0.1em;
}

.sim-container {
    text-align: center;
    /* overflow: scroll; */
}

#ellipse > svg{
    background-color: rgba(211,211,211,0.4);
}

.solid.white {
    fill: #fff;
    stroke: gray;
    stroke-width: 0.5;
}

.solid.atmos {
    /* fill: url(#atmosGradient); */
    fill: rgba(231, 242, 252, 0.4);
}

.solid.moon {
    fill: lightgray;
    stroke: gray;
    stroke-width: 0.5;
}